# Server Configuration
SPRING_PROFILES_ACTIVE=dev

# Database Configuration (Prod Profile)
DB_URL=jdbc:postgresql://localhost:5432/bnytech
DB_USER=postgres
DB_PASSWORD=your_secure_password

# Authentication
JWT_SECRET=generate_a_secure_base64_secret_key_that_is_at_least_32_bytes_long_like_a_random_sha256_hash

# Security
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Application configuration (Optional)
LOG_LEVEL=INFO
